{
  "presets": ["env", "react"],
  "env": {
    "development": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-react-display-name",
        "babel-plugin-add-module-exports",
        "transform-class-properties",
        "transform-do-expressions"
      ]
    },
    "production": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-react-display-name",
        "babel-plugin-add-module-exports",
        "transform-class-properties",
        "transform-do-expressions"
      ]
    }
  }
}